# +
# Compiled
# -
*.pyc
__pycache__
.pytest_cache

# +
# Packages
# -
*.csv
*.dmg
*.gz
*.tar
*.tgz
*.zip
*.js
*.json
*.map
*.obsolete

# +
# Logs
# -
*.log

# +
# Pycharm
# -
.idea

# +
# OS
# -
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# +
# secret stuff
# -
Docker/docker.sh
bin/Sassy.sh
etc/Sassy.sh
src/common.py

# +
# other repositories
# -
src/static/css/bootstrap*
src/static/js9

# +
# miscellaneous
# -
00_TO_DO_00
src/static/img/ZTF2*.png
src/static/img/ZTF2*.jpg
img/
img/airmass/img/*.png
img/airmass/img/*.jpg
img/finders/img/*.png
img/finders/img/*.jpg
src/static/img/sassy_cron_mollweide.png
