# +
# Compiled
# -
*.pyc
__pycache__

# +
# Packages
# -
*.csv
*.dmg
*.gz
*.tar
*.tgz
*.zip

# +
# Logs
# -
*.log

# +
# Pycharm
# -
.idea

# +
# OS
# -
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# +
# secret stuff
# -
Docker/docker.sh
bin/Sassy.sh
etc/Sassy.sh
src/common.py

# +
# other repositories
# -
src/static/js9*
src/static/js*
src/static/css/bootstrap*
*.css.20*
css.20*
*.html.20*
*.py.20*
00_TO_DO_00
