{% extends "base.html" %}

{% block content %}
 <form action="" method="post">
  <div class="container">
   {{ form.hidden_tag() }}
   <h3>Astronomical Elliptical Cone Search</h3>
   <div class="row">
    <div class="col-md-4">
     {{ form.obj_name.label }}<br>
     {{ form.obj_name(size=24) }}<br>
     {% for error in form.obj_name.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>Name converted to (<i>RA</i>, <i>Dec</i>) via astropy</small></span><br>
    </div>
    <div class="col-md-2">
     {{ form.majaxis.label }}<br>
     {{ form.majaxis(size=12) }}<br>
     {% for error in form.majaxis.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>0&deg; &ndash; 180&deg;</small></span><br>
    </div>
    <div class="col-md-2">
     {{ form.ratio.label }}<br>
     {{ form.ratio(size=12) }}<br>
     {% for error in form.ratio.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>0.0 &ndash; 1.0</small></span><br>
    </div>
    <div class="col-md-2">
     {{ form.posang.label }}<br>
     {{ form.posang(size=12) }}<br>
     {% for error in form.posang.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>0.0&deg; &ndash; 360.0&deg;</small></span><br>
    </div>
    <div class="col-md-2">
     {{ form.catalog.label }}<br>
     {{ form.catalog }}<br>
     {% for error in form.catalog.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
    </div>
   </div>
   <br>
   <div class="container">
    <div class="row">
     {{ form.submit(class_="btn btn-md btn-outline-success", type_="submit", name_="submit") }}<br>
    </div>
    <div class="row">
     <span class="grey"><small>SELECT * FROM <i>{{ form.catalog.data.lower() }}</i> WHERE q3c_ellipse_query(ra, dec, <i>SkyCoord.from_name('{{ form.obj_name.data }}').ra.value</i>, <i>SkyCoord.from_name('{{ form.obj_name.data }}').dec.value</i>, <i>{{ form.majaxis.data }}</i>, <i>{{ form.ratio.data }}</i>, <i>{{ form.posang.data }}</i>)</small></span><br>
    </div>
   </div>
  </div>
  <hr>
 </form>
{% endblock %}
