{% extends 'base.html' %}

<!-- description -->
{% block content %}

<!--suppress ALL -->
<hr>

{% if record is defined %}
<div class="container">

    <h4>Details for LIGO Q3C record</h4>

    <!-- Table -->
    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table table-striped table-bordered table-hover table-lg">
              <thead>
                <tr>
                    <th><font color="blue">Item</font></th>
                    <th><font color="blue">Value</font></th>
                </tr>
              </thead>

              <tbody>
                <tr class="table-info">
                    <td>ID</td>
                    <td><a href="/sassy/ligo/{{ record.id }}/" title="{{ record.id }}">{{ record.id }}</a></td>
                </tr>

                <tr class="table-success">
                    <td>Name</td>
                    <td>{{ record.name }}</td>
                </tr>

                <tr class="table-success">
                    <td>Prefix</td>
                    <td>{{ record.name_prefix }}</td>
                </tr>

                <tr class="table-success">
                    <td>Suffix</td>
                    <td>{{ record.name_suffix }}</td>
                </tr>

                <tr class="table-warning">
                    <td>RA (J2000&deg;)</td>
                    <td>{{ record.ra }}</td>
                </tr>

                <tr class="table-warning">
                    <td>Dec (J2000&deg;)</td>
                    <td>{{ record.dec }}</td>
                </tr>

                <tr class="table-warning">
                    <td>(Transient) Discovery Magnitude</td>
                    <td>{{ record.discovery_mag }}</td>
                </tr>

                <tr class="table-warning">
                    <td> Probability</td>
                    <td>{{ record.probability }}</td>
                </tr>

                <tr class="table-warning">
                    <td>Sigma</td>
                    <td>{{ record.sigma }}</td>
                </tr>

                <tr class="table-primary">
                    <td>Filter Name</td>
                    <td>{{ record.filter_name }}</td>
                </tr>

                <tr class="table-primary">
                    <td>(Transient) Type</td>
                    <td>{{ record.transient_type }}</td>
                </tr>

                <tr class="table-primary">
                    <td>(Transient) Discovery Date</td>
                    <td>{{ record.discovery_date }}</td>
                </tr>

                <tr class="table-primary">
                    <td>Source Group</td>
                    <td>{{ record.source_group }}</td>
                </tr>

                <tr class="table-info">
                    <td>GW (Alternate) Name</td>
                    <td>{{ record.gw_aka }}</td>
                </tr>

                <tr class="table-info">
                    <td>GW Discovery Date</td>
                    <td>{{ record.gw_date }}</td>
                </tr>

                <tr class="table-info">
                    <td>GW (Event) Name</td>
                    <td>{{ record.gw_event }}</td>
                </tr>

                <tr class="table-info">
                    <td>Transient Discovered Before Event?</td>
		    {% if record.before %}
		      <td>Yes</td>
		      <!-- <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td> -->
                    {% else %}
		      <td>No</td>
		      <!-- <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td> -->
                    {% endif %}

                </tr>

              </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<hr>
{% endblock %}

{% block js %}
{% endblock %}
