{% extends 'base.html' %}

{% block content %}

<!--suppress ALL -->
<!-- global container -->
<div class="container">

  <!-- introduction -->
  <div class="row">
    <div class="col-md-12">
      <h2><font color="purple">L</font>aser <font color="purple">I</font>nterforometer <font color="purple">G</font>ravitational Wave
        <font color="purple">O</font>bservatory (<a href="https://wis-tns.weizmann.ac.il/ligo/events">LIGO Events</a>) Description</h2>
    </div>
  </div>
  <!-- end of introduction -->

  <pre>
    {{ text }}
  </pre>
</div>
{% endblock %}
