{% extends "base.html" %}

{% block content %}
 <form action="" method="post">
  <div class="container">
   {{ form.hidden_tag() }}
   <h3>MMT Longslit Configuration</h3>
   <div class="row">
    <div class="col-md-2">
     {{ form.ra_hms.label }}<br>
     {{ form.ra_hms(size=16) }}<br>
     {% for error in form.ra_hms.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>HH:MM:SS.S (J2k)</small></span>
    </div>
    <div class="col-md-2">
     {{ form.dec_dms.label }}<br>
     {{ form.dec_dms(size=16) }}<br>
     {% for error in form.dec_dms.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>&plusmn;dd:mm:ss.s (J2k)</small></span>
    </div>
    <div class="col-md-2">
     {{ form.epoch.label }}<br>
     {{ form.epoch(size=8, disabled=true) }}<br>
     {% for error in form.epoch.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>J2000</small></span><br>
    </div>
    <div class="col-md-2">
     {{ form.exposuretime.label }}<br>
     {{ form.exposuretime(size=8) }}<br>
     {% for error in form.exposuretime.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>&gt; 0.0</small></span>
    </div>
    <div class="col-md-2">
     {{ form.numexposures.label }}<br>
     {{ form.numexposures(size=8) }}<br>
     {% for error in form.numexposures.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>&gt; 1</small></span>
    </div>
    <div class="col-md-2">
     {{ form.visits.label }}<br>
     {{ form.visits(size=8) }}<br>
     {% for error in form.visits.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>&gt; 0</small></span>
    </div>
   </div>
   <br>
   <div class="row">
    <div class="col-md-2">
     {{ form.filter_name.label }}<br>
     {{ form.filter_name }}<br>
     {% for error in form.filter_name.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>(g, r, i, z)</small></span>
    </div>
    <div class="col-md-2">
     {{ form.magnitude.label }}<br>
     {{ form.magnitude(size=8) }}<br>
     {% for error in form.magnitude.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
    </div>
    <div class="col-md-2">
     {{ form.zoid.label }}<br>
     {{ form.zoid(size=16) }}<br>
     {% for error in form.zoid.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
    </div>
    <div class="col-md-6">
     {{ form.notes.label }}<br>
     {{ form.notes(size=54) }}<br>
     {% for error in form.notes.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>For telescope operator</small></span>
    </div>
   </div>
   <div class="row">
    <div class="col-md-2">
     {{ form.grating.label }}<br>
     {{ form.grating }}<br>
     {% for error in form.grating.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>lines/mm</small></span>
    </div>
    <div class="col-md-2">
     {{ form.slitwidth.label }}<br>
     {{ form.slitwidth }}<br>
     {% for error in form.slitwidth.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
    </div>
    <div class="col-md-2">
     {{ form.central_lambda.label }}<br>
     {{ form.central_lambda(size=16) }}<br>
     {% for error in form.central_lambda.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>&#8491;</small></span>
    </div>
    <div class="col-md-6">
     {{ form.token.label }}<br>
     {{ form.token(size=54) }}<br>
     {% for error in form.token.errors %}
      <span class="error-label"><small>[{{ error }}]</small></span>
     {% endfor %}
     <span class="purple-label"><small>MMT Access Token</small></span>
    </div>
   </div>
   <br>

   <div class="row">
    {% if img %}
     <div class="col-md-12">
      <img src="{{ url_for('show_finder', img=img) }}" height="200" width="800" title="{{ img }}">
     </div>
    {% endif %}
   </div>
   <br>
   <div class="d-flex justify-content-between">
    <div class="row">
     {{ form.submit(class_="btn btn-md btn-primary") }}
    </div>
    <div>
     <a href="{{ url_for('sassy_home') }}" class="btn btn-md btn-danger">Cancel</a>
    </div>
   </div>

  </div>
  <hr>
 </form>
{% endblock %}
