{% extends 'base.html' %}
{% block content %}
<div class="container">
 <div class="row">
 <h2><i>Do you really want to send this {{ payload.observationtype }} observation request to MMT?</i></h2>
 </div>
 <br>
 <div class="row">
  <h4><font color="grey">Observation Payload:</font></h4>
  <div class="col-md-12">
   <br>
   <h6><font color="blue">{{ payload }}</font></h6>
  </div>
 </div>
 <br>
  <div class="row">
   {% if img %}
    <h4><font color="grey">Chart:</font></h4>
    <div class="col-md-12">
     <img src="{{ url_for('show_finder', img=img) }}" height="200" width="800" title="{{ img }}">
    </div>
   {% endif %}
  </div>
  <br>
 <div class="row">
  <div class="col-md-12">
   <div class="d-flex justify-content-between">
    <div class="row">
     <a href="{{ url_for('mmt_request') }}?payload={{ payload }}" class="btn btn-md btn-primary">Confirm</a>
    </div>
    <div>
     <a href="{{ url_for('cron_records') }}" class="btn btn-md btn-danger">Cancel</a>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
