<!DOCTYPE html5>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}">
 <title>SASSy - Steward Observatory</title>
</head>
<body>
<!-- header -->
<div class="container">
 <div id="landing-header">
  <h1><big><i><font color="white">S</font>teward <font color="white">A</font>lerts for <font color="white">S</font>cience
  <font color="white">Sy</font>stem</i></big></h1>
    <p><h2><code>We are here to get your science done</code></h2></p>
    <div class="col-md-1"></div>
  <div class="container">
    <p></p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
       <a href="/sassy/glade_q3c" class="btn btn-lg btn-primary btn-block"><font size="4">GLADE (Q3C)</font></a>
      </div>
      <div class="col-md-2">
       <a href="/sassy/gwgc_q3c" class="btn btn-lg btn-success btn-block"><font size="4">GWGC (Q3C)</font></a>
      </div>
      <div class="col-md-2">
       <a href="/sassy/ligo_q3c" class="btn btn-lg btn-light btn-block"><font size="4">LIGO (Q3C)</font></a>
      </div>
      <div class="col-md-2">
       <a href="/sassy/tns_q3c" class="btn btn-lg btn-info btn-block"><font size="4">TNS (Q3C)</font></a>
      </div>
      <div class="col-md-2">
       <a href="/sassy/ztf" class="btn btn-lg btn-warning btn-block"><font size="4">ZTF</font></a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="/sassy/api" class="btn btn-lg btn-outline-success btn-block">API</a>
      </div>
      <div class="col-md-4">
        <a href="/sassy/help" class="btn btn-lg btn-outline-success btn-block">Help</a>
      </div>
      <div class="col-md-3">
        <a href="/sassy/psql" class="btn btn-lg btn-outline-success btn-block">PSQL</a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="/sassy/astronomical_radial" class="btn btn-lg btn-outline-light btn-block"><small>Astronomical Radial Query</small></a>
      </div>
      <div class="col-md-4">
        <a href="/sassy/digital_radial" class="btn btn-lg btn-outline-light btn-block"><small>Digital Radial Query</small></a>
      </div>
      <div class="col-md-3">
        <a href="/sassy/sexagisimal_radial" class="btn btn-lg btn-outline-light btn-block"><small>Sexagisimal Radial Query</small></a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="/sassy/astronomical_elliptical" class="btn btn-lg btn-outline-warning btn-block"><small>Astronomical Elliptical Query</small></a>
      </div>
      <div class="col-md-4">
        <a href="/sassy/digital_elliptical" class="btn btn-lg btn-outline-warning btn-block"><small>Digital Elliptical Query</small></a>
      </div>
      <div class="col-md-3">
        <a href="/sassy/sexagisimal_elliptical" class="btn btn-lg btn-outline-warning btn-block"><small>Sexagisimal Elliptical Query</small></a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="/sassy/mmt/imaging/ra=math.nan&dec=math.nan&magnitude=math.nan&filter_name=g&name=unknown" class="btn btn-lg btn-outline-danger btn-block"><small>MMT Image Request</small></a>
      </div>
      <div class="col-md-4">
        <a href="/sassy/cron" class="btn btn-lg btn-outline-danger btn-block"><small>SASSyCron</small></a>
      </div>
      <div class="col-md-3">
        <a href="/sassy/mmt/longslit/ra=math.nan&dec=math.nan&magnitude=math.nan&filter_name=g&name=unknown" class="btn btn-lg btn-outline-danger btn-block"><small>MMT Spectra Request</small></a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <p></p>
  </div>
 </div>
</div>
<!-- slideshow (placeholder) -->
<ul class="slideshow">
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
 <li></li>
</ul>
<!-- footer -->
<footer id="landing-footer">
 <div class="container">
  <h5>&copy; 2018&ndash;2021 <a href="https://www.as.arizona.edu">Steward Observatory</a>, <a
          href="https://www.arizona.edu">The University of Arizona</a></h5>
  <h6>&copy; Mount Lemmon Sky Center, all background images</h6>
 </div>
</footer>
</body>
</html>
