{% extends 'base.html' %}

{% block content %}

<!--suppress ALL -->
<!-- global container -->
<div class="container">

  <!-- introduction -->
  <div class="row">
    <div class="col-md-12">
      <h2>SassyCron</h2>
      <br><h5><font color="grey">This cron job runs every hour and asks the question: How many alerts within the
      past 24 hours (from now), with a real/bogus score &gt; 0.5, have a host in the GLADE catalog within the
      circumscribed circle of the ZTF cutout FoV (45&Prime;) at a distance of &lt; 500 Mpc that are <i>not</i> in the TNS
      database and are <i>not</i> known solar system objects? For each such candidate, we then query the
      <a href="https://alerce.online">Alerce</a> database to obtain a classifier and produce images of the cutouts.
      The table is explorable using the standard SASSy controls on the left.<br>
      The data below includes the period {{ iso_min }} through {{ iso_max }}.</font></h5>
      <br><br>
    </div>
  </div>
  <!-- end of introduction -->

  <div class="row">

    <!-- sort section -->
    <div class="col-md-2">
      <form method="GET" action="/sassy/cron">
        <div align="center">
          <button type="submit" class="btn btn-success">Select</button>
          <a href="/sassy/cron" class="btn btn-warning">Reset</a>
        </div>
        <br>
        <div class="form-group">
          <label for="sort_value">Sort By ...</label>
          <select id="sort_value" name="sort_value" class="form-control form-control-sm" value="{{ request.args.sort_value }}">
            <option value="zoid" {% if request.args.sort_value=='zoid' %} selected {% endif %}>Object ID</option>
            <option value="zcandid" {% if request.args.sort_value=='zcandid' %} selected {% endif %}>Candidate ID</option>
            <option value="zdec" {% if request.args.sort_value=='zdec' %} selected {% endif %}>Dec (J2000)</option>
            <option value="zdrb" {% if request.args.sort_value=='zdrb' %} selected {% endif %}>drb score</option>
            <option value="zfid" {% if request.args.sort_value=='zfid' %} selected {% endif %}>Filter ID</option>
            <option value="zfilter" {% if request.args.sort_value=='zfilter' %} selected {% endif %}>Filter</option>
            <option value="zjd" {% if request.args.sort_value=='zjd' %} selected {% endif %}>JD</option>
            <option value="zmagap" {% if request.args.sort_value=='zmagap' %} selected {% endif %}>magap (mag)</option>
            <option value="zmagdiff" {% if request.args.sort_value=='zmagdiff' %} selected {% endif %}>&#0948;mag (mag)</option>
            <option value="zmagpsf" {% if request.args.sort_value=='zmagpsf' %} selected {% endif %}>magpsf (mag)</option>
            <option value="zra" {% if request.args.sort_value=='zra' %} selected {% endif %}>RA (J2000)</option>
            <option value="zrb" {% if request.args.sort_value=='zrb' %} selected {% endif %}>rb score</option>
            <option value="zsid" {% if request.args.sort_value=='zsid' %} selected {% endif %}>SASSy Id</option>
          </select>
        </div>

        <div>
          <select id="sort_order" name="sort_order" class="form-control form-control-sm" value="{{ request.args.sort_order }}">
            <option value="descending" {% if request.args.sort_order=='descending' %} selected {% endif %}>Descending</option>
            <option value="ascending"  {% if request.args.sort_order=='ascending' %}  selected {% endif %}>Ascending</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="sort_value">ZTF Control(s) ...</label>
          <input type="text" class="form-control form-control-sm" id="zoid" name="zoid" value="{{ request.args.zoid }}" placeholder="ZTF20xxxxxxx">
        </div>

        <div class="form-group">
          <input type="text" class="form-control form-control-sm" id="zcandid" name="zcandid" value="{{ request.args.zcandid }}" placeholder="candid">
        </div>

        <div class="form-group">
          <label for="zfilter"><small>Filter</small></label>
          <select id="zfilter" name="zfilter" class="form-control form-control-sm" value="{{ request.args.zfilter }}">
            <option value="" {% if request.args.zfilter=='' %} selected {% endif %}>(any)</option>
            <option value="green" {% if request.args.zfilter=='green' %} selected {% endif %}>green</option>
            <option value="red" {% if request.args.zfilter=='red' %} selected {% endif %}>red</option>
            <option value="indigo" {% if request.args.zfilter=='indigo' %} selected {% endif %}>indigo</option>
          </select>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zdec__gte" name="zdec__gte" value="{{ request.args.zdec__gte }}" placeholder="-90.0">
          </div>
          <label for="dec__gte"><font color="grey">&le;</font><small>Dec&deg;</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zdec__lte" name="zdec__lte" value="{{ request.args.zdec__lte }}" placeholder="+90.0">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zdrb__gte" name="zdrb__gte" value="{{ request.args.zdrb__gte }}" placeholder="0.5">
          </div>
          <label for="drb__gte"><font color="grey">&le;</font><small>drb</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zdrb__lte" name="zdrb__lte" value="{{ request.args.zdrb__lte }}" placeholder="1.0">
          </div>
        </div>


        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zjd__gte" name="zjd__gte" value="{{ request.args.zjd__gte }}" placeholder={{ zjd_min }}>
          </div>
          <label for="jd__gte"><font color="grey">&le;</font><small>JD</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zjd__lte" name="zjd__lte" value="{{ request.args.zjd__lte }}" placeholder={{ zjd_max }}>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagap__gte" name="zmagap__gte" value="{{ request.args.zmagap__gte }}" placeholder="-10">
          </div>
          <label for="magap__gte"><font color="grey">&le;</font><small>mag<sub>ap</sub></small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagap__lte" name="zmagap__lte" value="{{ request.args.zmagap__lte }}" placeholder="20">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagdiff__gte" name="zmagdiff__gte" value="{{ request.args.zmagdiff__gte }}" placeholder="-1.0">
          </div>
          <label for="sigmapsf__gte"><font color="grey">&le;</font><small>&#0948;mag<sub>ref</sub></small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagdiff__lte" name="zmagdiff__lte" value="{{ request.args.zmagdiff__lte }}" placeholder="1.0">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagpsf__gte" name="zmagpsf__gte" value="{{ request.args.zmagpsf__gte }}" placeholder="-10">
          </div>
          <label for="magpsf__gte"><font color="grey">&le;</font><small>mag<sub>psf</sub></small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="any" class="form-control form-control-sm" id="zmagpsf__lte" name="zmagpsf__lte" value="{{ request.args.zmagpsf__lte }}" placeholder="20">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zra__gte" name="zra__gte" value="{{ request.args.zra__gte }}" placeholder="0.0">
          </div>
	      <label for="ra__gte"><font color="grey">&le;</font><small>RA&deg;</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zra__lte" name="zra__lte" value="{{ request.args.zra__lte }}" placeholder="360.0">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zrb__gte" name="zrb__gte" value="{{ request.args.zrb__gte }}" placeholder="0.0">
          </div>
          <label for="rb__gte"><font color="grey">&le;</font><small>rb</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="zrb__lte" name="zrb__lte" value="{{ request.args.zrb__lte }}" placeholder="1.0">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="nothing">Glade Control(s) ...</label>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="gdist__gte" name="gdist__gte" value="{{ request.args.gdist__gte }}" placeholder="0.0">
          </div>
          <label for="gdist__gte"><font color="grey">&le;</font><small>g<sub>dist</sub> Mpc</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="gdist__lte" name="gdist__lte" value="{{ request.args.gdist__lte }}" placeholder="500.0">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="gsep__gte" name="gsep__gte" value="{{ request.args.gsep__gte }}" placeholder="0.0">
          </div>
          <label for="gsep__gte"><font color="grey">&le;</font><small>g<sub>sep</sub> &Prime;</small><font color="grey">&le;</font></label>
          <div class="col">
            <input type="number" step="0.01" class="form-control form-control-sm" id="gsep__lte" name="gsep__lte" value="{{ request.args.gsep__lte }}" placeholder="45.0">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="nothing2">Alerce Control(s) ...</label>
        </div>

        <div class="form-group">
          <label for="aetype"><small>Early Classifier</small></label>
          <select id="aetype" name="aetype" class="form-control form-control-sm" value="{{ request.args.aetype }}">
            <option value="" {% if request.args.aetype=='' %} selected {% endif %}>(any)</option>
            <option value="AGN" {% if request.args.aetype=='AGN' %} selected {% endif %}>AGN</option>
            <option value="Supernova" {% if request.args.aetype=='Supernova' %} selected {% endif %}>Supernova</option>
            <option value="Variable Star" {% if request.args.aetype=='Variable_Star' %} selected {% endif %}>Variable Star</option>
            <option value="Asteroid" {% if request.args.aetype=='Asteroid' %} selected {% endif %}>Asteroid</option>
            <option value="Bogus" {% if request.args.aetype=='Bogus' %} selected {% endif %}>Bogus</option>
          </select>
        </div>


        <div class="form-group">
          <label for="altype"><small>Late Classifier</small></label>
          <select id="altype" name="altype" class="form-control form-control-sm" value="{{ request.args.altype }}">
            <option value="" {% if request.args.altype=='' %} selected {% endif %}>(any)</option>
            <option value="AGN" {% if request.args.altype=='AGN' %} selected {% endif %}>AGN Type I</option>
            <option value="Blazar" {% if request.args.altype=='Blazar' %} selected {% endif %}>Blazar</option>
            <option value="Cataclysmic Variable / Nova" {% if request.args.altype=="Cataclysmic_Variable" %} selected {% endif %}>Cataclysmic Variable / Nova</option>
            <option value="Quasar Type I" {% if request.args.altype=='Quasar_Type_I' %} selected {% endif %}>Quasar Type I</option>
            <option value="Super-luminous Supernova" {% if request.args.altype=='Super-luminous_Supernova' %} selected {% endif %}>Super-luminous Supernova</option>
            <option value="Supernova Type II" {% if request.args.altype=='Supernova_Type_II' %} selected {% endif %}>Supernova Type II</option>
            <option value="Supernova Type Ia" {% if request.args.altype=='Supernova_Type_Ia' %} selected {% endif %}>Supernova Type Ia</option>
            <option value="Supernova Type Ibc" {% if request.args.altype=='Supernova_Type_Ibc' %} selected {% endif %}>Supernova Type Ibc</option>
            <option value="Eclipsing Binary (Contact)" {% if request.args.altype=='Eclipsing_Binary_(Contact)' %} selected {% endif %}>Eclipsing Binary (Contact)</option>
            <option value="Eclipsing Binary (Detached/Semi-Detached)" {% if request.args.altype=='Eclipsing_Binary_(Detached/Semi-Detached)' %} selected {% endif %}>Eclipsing Binary (Detached/Semi-Detached)</option>
            <option value="Periodic/Other" {% if request.args.altype=='Periodic/Other' %} selected {% endif %}>Periodic/Other</option>
            <option value="RS Canum Venaticorum" {% if request.args.altype=='RA_Canum_Venaticorum' %} selected {% endif %}>RS Canum Venaticorum</option>
            <option value="Cepheid" {% if request.args.altype=='Cepheid' %} selected {% endif %}>Cepheid</option>
            <option value="Delta Scuti" {% if request.args.altype=='Delta_Scuti' %} selected {% endif %}>Delta Scuti</option>
            <option value="Long Period Variable" {% if request.args.altype=='Long_Period_Variable' %} selected {% endif %}>Long Period Variable</option>
            <option value="RR Lyra" {% if request.args.altype=='RR_Lyra' %} selected {% endif %}>RR Lyra</option>
          </select>
        </div>
        <br>
        <div align="center">
          <button type="submit" class="btn btn-success">Select</button>
          <a href="/sassy/cron" class="btn btn-warning">Reset</a>
        </div>
      </form>
    </div>
    <!-- end of sort section -->

    <!-- table section -->
    <div class="col-md-10">
      <div class="table-responsive">
        <div class="row">
          <div class="col">
            <div align="left">
              {% if context.has_prev %}
                <a href="/sassy/cron?{{ arg_str }}&page={{ page - 1 }}" class="btn btn-outline-secondary">Prev</a>
              {% else %}
                <a href="#" class="btn btn-outline-secondary disabled">Prev</a>
              {% endif %}
            </div>
          </div>
          <div class="col-md-8">
            <div align="center">
              {{ context.total }} record(s) found, showing page {{ page }} / {{ context.pages }}.
            </div>
          </div>
          <div class="col">
            <div align="right">
              {% if context.has_next %}
                <a href="/sassy/cron?{{ arg_str }}&page={{ page + 1 }}" class="btn btn-outline-secondary">Next</a>
              {% else %}
                <a href="#" class="btn btn-outline-secondary disabled">Next</a>
              {% endif %}
            </div>
          </div>
        </div>

        <br>

        <table class="table table-striped table-sm">
        <thead>
          <th colspan="16" style="border: 1px solid black; background-color: #e6ffe6;"><center>ZTF Candidate(s)</center></th>
          <th colspan="4" style="border: 1px solid black; background-color: #ffebcc;"><center>Alerce Classifier</center></th>
          <th colspan="6" style="border: 1px solid black; background-color: #f2e6ff;"><center>GLADE Catalog</center></th>
          <th colspan="4" style="border: 1px solid black; background-color: #cfe3e6;"><center>Other</center></th>
        </thead>
          <thead>
            <tr>
              <th><font color="blue">Science</font></th>
              <th><font color="blue">Difference</font></th>
              <th><font color="blue">Template</font></th>
              <th><font color="blue">ObjectId</font></th>
              <th><font color="blue">Candid</font></th>
              <th><font color="blue">ID</font></th>
              <th><font color="blue">Filter</font></th>
              <th><font color="blue">&lambda;<sub>mean</sub></font></th>
              <th><font color="blue">JD</font></th>
              <th><font color="blue">mag<sub>ap</sub></font></th>
              <th><font color="blue">mag<sub>psf</sub></font></th>
              <th><font color="blue">&delta;mag<sub>ref</sub></font></th>
              <th><font color="blue">RA</font></th>
              <th><font color="blue">Dec</font></th>
              <th><font color="blue">drb</font></th>
              <th><font color="blue">rb</font></th>
              <th><font color="blue">Early</font></th>
              <th><font color="blue">P(Early)</font></th>
              <th><font color="blue">Late</font></th>
              <th><font color="blue">P(Late)</font></th>
              <th><font color="blue">ID</font></th>
              <th><font color="blue">RA</font></th>
              <th><font color="blue">Dec</font></th>
              <th><font color="blue">distance</font></th>
              <th><font color="blue">separation</font></th>
              <th><font color="blue">z</font></th>
              <th><font color="blue">Alerce</font></th>
              <th><font color="blue">Lasair</font></th>
              <th><font color="blue">MMT</font></th>
              <th><font color="blue">MMT</font></th>
            </tr>
            <tr>
              <th><font color="grey">cutout</font></th>
              <th><font color="grey">cutout</font></th>
              <th><font color="grey">cutout</font></th>
              <th><font color="grey">ZTF</font></th>
              <th><font color="grey">ZTF</font></th>
              <th><font color="grey">sid</font></th>
              <th><font color="grey">{g,r,i}</font></th>
              <th><font color="grey">&#8491;</font></th>
              <th><font color="grey"> </font></th>
              <th><font color="grey">m</font></th>
              <th><font color="grey">m</font></th>
              <th><font color="grey">&delta;m</font></th>
              <th><font color="grey">J2k&deg;</font></th>
              <th><font color="grey">J2k&deg;</font></th>
              <th><font color="grey">0-1</font></th>
              <th><font color="grey">0-1</font></th>
              <th><font color="grey">Type</font></th>
              <th><font color="grey">%</font></th>
              <th><font color="grey">Type</font></th>
              <th><font color="grey">%</font></th>
              <th><font color="grey">gid</font></th>
              <th><font color="grey">J2k&deg;</font></th>
              <th><font color="grey">J2k&deg;</font></th>
              <th><font color="grey">Mpc</font></th>
              <th><font color="grey">&Prime;</font></th>
              <th><font color="grey"> </font></th>
              <th><font color="grey">link</font></th>
              <th><font color="grey">link</font></th>
              <th><font color="grey">Observe</font></th>
              <th><font color="grey">Observe</font></th>
            </tr>
          </thead>
          <tbody>
            {% for alert in context.results %}
              <tr>
               <td><img src="{{ url_for('static', filename='/img/') }}{{ alert.spng }}" title="/static/img/{{ alert.spng }}" height="75" width="75"></td>
               <td><img src="{{ url_for('static', filename='/img/') }}{{ alert.dpng }}" title="/static/img/{{ alert.tpng }}" height="75" width="75"></td>
               <td><img src="{{ url_for('static', filename='/img/') }}{{ alert.tpng }}" title="/static/img/{{ alert.dpng }}" height="75" width="75"></td>
               <td>{{ alert.zoid }}</td>
               <td>{{ alert.zcandid }}</td>
               <td><a href="/sassy/ztf/{{ alert.zsid }}/" title="{{ alert.zsid }}">{{ alert.zsid }}</a></td>
               <td>{{ alert.zfilter }}</td>
               {% if alert.zlambda|float("NaN") == "NaN" %}
                 <td>{{ alert.zlambda }}</td>
               {% else %}
                 <td>{{ "%.1f"|format(alert.zlambda) }}</td>
               {% endif %}
               {% if alert.zjd|float("NaN") == "NaN" %}
                 <td>{{ alert.zjd }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zjd) }}</td>
               {% endif %}
               {% if alert.zmagap|float("NaN") == "NaN" %}
                 <td>{{ alert.zmagap }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zmagap) }}</td>
               {% endif %}
               {% if alert.zmagpsf|float("NaN") == "NaN" %}
                 <td>{{ alert.zmagpsf }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zmagpsf) }}</td>
               {% endif %}
                {% if alert.zmagdiff|float("NaN") == "NaN" %}
                 <td>{{ alert.zmagdiff }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zmagdiff) }}</td>
               {% endif %}
               {% if alert.zra|float("NaN") == "NaN" %}
                 <td>{{ alert.zra }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zra) }}</td>
               {% endif %}
               {% if alert.zdec|float("NaN") == "NaN" %}
                 <td>{{ alert.zdec }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zdec) }}</td>
               {% endif %}
               {% if alert.zdrb|float("NaN") == "NaN" %}
                 <td>{{ alert.zdrb }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zdrb) }}</td>
               {% endif %}
               {% if alert.zrb|float("NaN") == "NaN" %}
                 <td>{{ alert.zrb }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.zrb) }}</td>
               {% endif %}
               <td>{{ alert.aetype }}</td>
               {% if alert.aeprob|float("NaN") == "NaN" %}
                 <td>{{ alert.aeprob*100.0 }}</td>
               {% else %}
                 <td>{{ "%.1f"|format(alert.aeprob*100.0) }}</td>
               {% endif %}
               <td>{{ alert.altype }}</td>
               {% if alert.alprob|float("NaN") == "NaN" %}
                 <td>{{ alert.alprob*100.0 }}</td>
               {% else %}
                 <td>{{ "%.1f"|format(alert.alprob*100.0) }}</td>
               {% endif %}
               <td><a href="/sassy/glade_q3c/{{ alert.gid }}/" title="{{ alert.gid }}">{{ alert.gid }}</a></td>
               {% if alert.gra|float("NaN") == "NaN" %}
                 <td>{{ alert.gra }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.gra) }}</td>
               {% endif %}
               {% if alert.gdec|float("NaN") == "NaN" %}
                 <td>{{ alert.gdec }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.gdec) }}</td>
               {% endif %}
               {% if alert.gdist|float("NaN") == "NaN" %}
                 <td>{{ alert.gdist }}</td>
               {% else %}
                 <td>{{ "%.1f"|format(alert.gdist) }}</td>
               {% endif %}
               {% if alert.gsep|float("NaN") == "NaN" %}
                 <td>{{ alert.gsep*3600.0 }}</td>
               {% else %}
                 <td>{{ "%.2f"|format(alert.gsep*3600.0) }}</td>
               {% endif %}
               {% if alert.gz|float("NaN") == "NaN" %}
                 <td>{{ alert.gz }}</td>
               {% else %}
                 <td>{{ "%.3f"|format(alert.gz) }}</td>
               {% endif %}
               <td><a href="https://alerce.online/object/{{ alert.zoid }}/" title="{{ alert.zoid }}" class="btn btn-outline-success btn-small">{{ alert.zoid }}</a></td>
               <td><a href="https://lasair.roe.ac.uk/object/{{ alert.zoid }}/" title="{{ alert.zoid }}" class="btn btn-outline-success btn-small">{{ alert.zoid }}</a></td>
               <td><a href="{{ url_for('mmt_longslit', zoid=alert.zoid) }}" title="Longslit_{{ alert.zoid }}" class="btn btn-outline-info btn-small">Spectrum</a></td>
               <td><a href="{{ url_for('mmt_imaging', zoid=alert.zoid) }}" title="Imaging_{{ alert.zoid }}" class="btn btn-outline-info btn-small">Image</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="row">
          <div class="col">
            <div align="left">
              {% if context.has_prev %}
                <a href="/sassy/cron?{{ arg_str }}&page={{ page - 1 }}" class="btn btn-outline-secondary">Prev</a>
              {% else %}
                <a href="#" class="btn btn-outline-secondary disabled">Prev</a>
              {% endif %}
            </div>
          </div>
          <div class="col-md-8">
            <div align="center">
              {{ context.total }} record(s) found. Showing page {{ page }} / {{ context.pages }}.
            </div>
          </div>
          <div class="col">
            <div align="right">
              {% if context.has_next %}
                <a href="/sassy/cron?{{ arg_str }}&page={{ page + 1 }}" class="btn btn-outline-secondary">Next</a>
              {% else %}
                <a href="#" class="btn btn-outline-secondary disabled">Next</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of table section -->
  </div>

<!-- end of global container -->
</div>

{% endblock %}

{% block js %}
{% endblock %}
