{% extends 'base.html' %}
{% block content %}

<div class="row">
 <div class="col-md-12">
  {% if ztf %}
   <h2>{{ ztf['oid'] }}</h2> 
   <p> <b> RA/DEC:</b> {{ ztf['ra_hms'] }} {{ ztf['dec_dms'] }} </p>
   
   <p> <b>JD:</b> {{ ztf['jd'] }} <b>Magnitude:</b> {{ ztf['magap'] }} <b>{{ ztf['filter'] }}</b> </p>

   {% if tns['available'] %}
      <h2>TNS Information </h2>
      <h3 href='{{ tns['tns_link'] }}'> {{ tns['alias'] }} </h3>
      <p> <b>Discovery Date:</b> {{ tns['discovery_date'] }} <b>Discovery Mag</b>: {{ tns['discovery_mag'] }} <b>Group:</b> {{ tns['source_group'] }} </p>
      <p> <b>Host information:</b> {{ tns['host'] }} <b>Redshift:</b> {{ tns['host_z'] }} </p>
   {% endif %}

   {% if glade['available'] %}
      <h2> Glade_p3c Information </h2>
      <p> <b>ID</b>: {{ glade['id'] }} <b>Distance</b>: {{ glade['distance'] }} <b>Redshift</b> {{ glade['redshift'] }} </p>
   {% endif %}

   {% if alerce['available'] %}
      <h2>ALERCE Information </h2>
      <p> <b>Early Classifier:</b> {{ alerce['aetype'] }} <b>Prob:</b> {{ alerce['aeprob'] }}</p>
      <p> <b>Late Classifier:</b> {{ alerce['altype'] }} <b>Prob:</b> {{ alerce['alprob'] }}</p>
      <p>
        <a href="{{ url_for('show_image', img=alerce['spng']) }}" target="_blank" title="{{ alerce['spng'] }}">
          <img src="{{ url_for('static', filename='/img/') }}{{ alerce['spng'] }}" title="/static/img/{{ alerce['spng'] }}" height="125" width="125">
        </a>
        <a href="{{ url_for('show_image', img=alerce['dpng']) }}" target="_blank" title="{{ alerce['dpng'] }}">
          <img src="{{ url_for('static', filename='/img/') }}{{ alerce['dpng'] }}" title="/static/img/{{ alerce['dpng'] }}" height="125" width="125">
        </a>
        <a href="{{ url_for('show_image', img=alerce['tpng']) }}" target="_blank" title="{{ alerce['tpng'] }}">
          <img src="{{ url_for('static', filename='/img/') }}{{ alerce['tpng'] }}" title="/static/img/{{ alerce['tpng'] }}" height="125" width="125">
        </a>
      </p>
   {% endif %}

   <h2> Link(s) </h2>
   <p>
      <a class="btn btn-outline-success btn-small" href="https://alerce.online/object/{{ztf['oid']}}/" target="_blank" title="{{ztf['oid']}}">Alerce</a>
      <a class="btn btn-outline-success btn-small" href="https://lasair.roe.ac.uk/object/{{ztf['oid']}}/" target="_blank" title="{{ztf['oid']}}">Lasair</a>
      <a class="btn btn-outline-info btn-small" href="/sassy/mmt/longslit/{{ztf['oid']}}" title="Longslit_{{ztf['oid']}}">Spectrum</a>

   </p>

  {% else %}
   <h3>No data found</h3>
  {% endif %}
 </div>
</div>
{% endblock %}
